<nav class="header_nav">
  <div class="header_menu">
    <ul>
      <li><a href="#">Recipe Book</a></li>
      <li><a href="#">Recipes</a></li>
      <li><a href="#">Shopping List</a></li>
      <li>
        <a href="#">Manage</a>
        <ul>
          <li><a href="#">Save Data</a></li>
          <li><a href="#">Fetch Data</a></li>
        </ul>
      </li>
    </ul>
  </div>


  <!-- <a href="#" class="header_link_brand">Recipe Book</a>
  <a href="#">Recipes</a>
  <a href="#">Shopping List</a>

  <span class="header_dropdown_list">Manage</span>
  <a href="#">Save Data</a>
  <a href="#">Fetch Data</a> -->
</nav>
