<img [src]="recipe.imagePath" alt="" class="recipes_detail_img">

<h1>Recipe Name</h1>
<div class="dropdown">
  <button class="recipes_detail_button"><span>Manage Recipe <i class="fa fa-sort-down"></i></span></button>

  <div class="dropdown_content">
    <a (click)="onAddToShoppingList()">To Shopping List</a>
    <a (click)="onEditRecipe()">Edit Recipe</a>
    <a >Delete Recipe</a>
  </div>
</div>


<div class="recipe_detail_description">
  Description = {{recipe?.name}}
</div>

<div class="recipe_detail_ingredients">
  Ingredients = {{recipe?.description}}
</div>

<div class="recipes_detail_ingredients_container">
  <a class="recipes_detail_ingredients_link" *ngFor="let ingredient of recipe.ingredients">
    {{ingredient.name}} ({{ingredient.amount}})
  </a>
</div>
